# Airflow dependencies
apache-airflow==2.8.1
apache-airflow-providers-snowflake==5.1.0
apache-airflow-providers-microsoft-azure==8.3.0

# Data processing
pandas==2.1.4
requests==2.31.0

# Snowflake
snowflake-connector-python==3.6.0
snowflake-sqlalchemy==1.5.1

# dbt
dbt-core==1.7.4
dbt-snowflake==1.7.1

# Azure
azure-storage-blob==12.19.0
azure-identity==1.15.0

# Utilities
python-dotenv==1.0.0